<body>
  <div class="container">
    <div class="note">
      <div class="centered-items">
        <input type="text" [(ngModel)]="currTitle" placeholder="Add title to the note" [ngStyle] = "{'border-color': (currTitle.length < 5) ? 'red':''}">
        @if (currTitle.length < 5) {
          <div class="error">The title must be at least 5 symbols!</div>
        }
        <input type="text" [(ngModel)]="currContent" placeholder="Add description to the note" [ngStyle] = "{'border-color': (currContent.length < 7) ? 'red':''}">
        @if (currContent.length < 7) {
          <div class="error">The description must be at least 7 symbols!</div>
        }
        <button (click)="saveNote()">Save</button>
      </div>
    </div>
    <div class="note-collection">
      @for (item of notes; track $index) {
      <div class="single-note" (click)="toggleButtons($index)">
        <p>Title: {{item.title}}</p>
        <p>Content: {{item.content}}</p>
        @if (currIndex == $index) {
        <div class="buttons">
          <button (click)="editNote()">Edit</button>
          <button (click)="removeNote()">Delete</button>
        </div>
        }
      </div>
      }
    </div>
  </div>
</body>